In [1]:
import pandas as pd 
import time
import numpy as np

file_name = 'today_world'+'_'+time.strftime('%Y_%m_%d',time.localtime(time.time()))+'.csv'
world_data = pd.read_csv(file_name)

print(world_data.keys())

Index(['id', 'lastUpdateTime', 'name', 'total_confirm', 'total_suspect',
       'total_heal', 'total_dead', 'total_severe', 'total_input',
       'today_confirm', 'today_suspect', 'today_heal', 'today_dead',
       'today_severe', 'today_storeConfirm', 'today_input'],
      dtype='object')

In [2]:
import pyecharts
import pyecharts.options as opts
from pyecharts.charts import Map,Page
from pyecharts.components import Table
from pyecharts.options import ComponentTitleOpts

In [3]:
world_data['today_storeConfirm'] = world_data['total_confirm'] - world_data['total_heal'] - world_data['total_dead']
world_data.head()

,id,lastUpdateTime,name,total_confirm,total_suspect,total_heal,total_dead,total_severe,total_input,today_confirm,today_suspect,today_heal,today_dead,today_severe,today_storeConfirm,today_input
0,9577772,2021-06-04 06:01:22,突尼斯,350487,0,307778,12839,0,0.0,1925.0,NaN,0.0,0.0,NaN,29870,NaN
1,9507896,2021-06-04 00:01:08,塞尔维亚,713207,0,0,6890,0,0.0,218.0,NaN,0.0,0.0,NaN,706317,NaN
2,0,2021-06-04 08:11:32,中国,113048,0,98928,5012,0,6090.0,1157.0,NaN,7.0,29.0,NaN,9108,9.0
3,1,2021-06-04 00:01:08,日本本土,755695,0,690467,13331,0,0.0,2831.0,NaN,0.0,0.0,NaN,51897,NaN
4,2,2021-06-04 00:01:08,泰国,169348,0,26873,1146,0,0.0,3886.0,NaN,0.0,0.0,NaN,141329,NaN

In [4]:
contry_name = pd.read_csv('china_english_name.csv')
contry_name.head()

               英文    中文
0  Singapore Rep.   新加坡
1  Dominican Rep.  多米尼加
2       Palestine  巴勒斯坦
3         Bahamas   巴哈马
4     Timor-Leste   东帝汶

In [5]:
world_data['eg_name'] = world_data['name'].replace(contry_name['中文'].values,contry_name['英文'].values)
world_data['eg_name'].head()

0     Tunisia
1      Serbia
2       China
3       Japan
4    Thailand
Name: eg_name, dtype: object

In [6]:
world_data.head()

,id,lastUpdateTime,name,total_confirm,total_suspect,total_heal,total_dead,total_severe,total_input,today_confirm,today_suspect,today_heal,today_dead,today_severe,today_storeConfirm,today_input,eg_name
0,9577772,2021-06-04 06:01:22,突尼斯,350487,0,307778,12839,0,0.0,1925.0,NaN,0.0,0.0,NaN,29870,NaN,Tunisia
1,9507896,2021-06-04 00:01:08,塞尔维亚,713207,0,0,6890,0,0.0,218.0,NaN,0.0,0.0,NaN,706317,NaN,Serbia
2,0,2021-06-04 08:11:32,中国,113048,0,98928,5012,0,6090.0,1157.0,NaN,7.0,29.0,NaN,9108,9.0,China
3,1,2021-06-04 00:01:08,日本本土,755695,0,690467,13331,0,0.0,2831.0,NaN,0.0,0.0,NaN,51897,NaN,Japan
4,2,2021-06-04 00:01:08,泰国,169348,0,26873,1146,0,0.0,3886.0,NaN,0.0,0.0,NaN,141329,NaN,Thailand

In [7]:
world_today_existingconfirm = world_data['today_storeConfirm'].sum()
world_today_confirm = world_data['today_confirm'].sum()
world_totalconfirm = world_data['total_confirm'].sum()
world_totalheal = world_data['total_heal'].sum()
world_totaldead = world_data['total_dead'].sum()

table3 = Table()
headers = ["现存确诊","累计确诊","今日新增","累计治愈","累计死亡"]
rows=[[world_today_existingconfirm,world_totalconfirm,world_today_confirm,world_totalheal,world_totaldead]]#rows是序列类型，[[]]

table3.add(headers,rows)

In [8]:
heatmap_data2 = world_data[['eg_name','total_confirm']].values.tolist()
heatmap_data2[:10]

[['Tunisia', 350487],
 ['Serbia', 713207],
 ['China', 113048],
 ['Japan', 755695],
 ['Thailand', 169348],
 ['Singapore Rep.', 62145],
 ['Korea', 142157],
 ['Australia', 30137],
 ['Germany', 3701692],
 ['United States', 34169972]]

In [9]:
heatmap_data = world_data[['eg_name','today_storeConfirm']].values.tolist()
heatmap_data[:10]

[['Tunisia', 29870],
 ['Serbia', 706317],
 ['China', 9108],
 ['Japan', 51897],
 ['Thailand', 141329],
 ['Singapore Rep.', 555],
 ['Korea', 7490],
 ['Australia', 5633],
 ['Germany', 93817],
 ['United States', 5536588]]

In [10]:
map1 = Map().add(series_name='现存确诊人数',
                data_pair=heatmap_data,
                maptype='world',
                is_map_symbol_show=False
                )
map1.set_series_opts(label_opts=opts.LabelOpts(is_show=False))
# 设置全局配置项
map1.set_global_opts(title_opts = opts.TitleOpts(title="世界各国家现存确诊人数地图"), # 设置图标题
                     # 设置视觉映射配置项
                     visualmap_opts = opts.VisualMapOpts(pieces=[ # 自定义分组的分点和颜色
                                                               {"min": 10000,"color":"#800000"}, # 栗色
                                                               {"min": 5000, "max": 9999, "color":"#B22222"}, # 耐火砖
                                                               {"min": 999, "max": 4999,"color":"#CD5C5C"}, # 印度红
                                                               {"min": 100, "max": 999, "color":"#BC8F8F"}, # 玫瑰棕色
                                                               {"max": 99, "color":"#FFE4E1"}, # 薄雾玫瑰
                                                              ], 
                     is_piecewise = True))  # 显示分段式图例

In [11]:
table_data1 = world_data[['name','today_confirm','today_storeConfirm','total_confirm','total_heal','total_dead']].values.tolist()
#table_data1.sort(key = lambda x:x[1],reverse = True)，数据中存在nan值会导致排序失效，去除掉nan值
table1_data = []
for data in table_data1:
    if np.isnan(data[1]) == False:#列表元素不能用data['today_confirm']，索引一定用数字
        table1_data.append(data)
table1_data.sort(key = lambda x:x[1],reverse=True)
table1_data =table1_data[:10]

In [12]:
table1 = Table()
headers = ["国家名","今日新增确诊","现存确诊","累计确诊","累计治愈","累计死亡"]
rows = []
for data in table1_data:
    rows.append(data)
table1.add(headers,rows)

In [13]:
map2 = Map().add(series_name='累计确诊人数',
                data_pair=heatmap_data2,
                maptype='world',
                is_map_symbol_show=False
                )

In [14]:
map2.set_series_opts(label_opts=opts.LabelOpts(is_show=False))
# 设置全局配置项
map2.set_global_opts(title_opts = opts.TitleOpts(title="世界各国家累计确诊人数地图"), # 设置图标题
                     # 设置视觉映射配置项
                     visualmap_opts = opts.VisualMapOpts(pieces=[ # 自定义分组的分点和颜色
                                                               {"min": 1000000,"color":"#800000"}, # 栗色
                                                               {"min": 100000, "max": 999999, "color":"#B22222"}, # 耐火砖
                                                               {"min": 10000, "max": 99999,"color":"#CD5C5C"}, # 印度红
                                                               {"min": 1000, "max": 9999, "color":"#BC8F8F"}, # 玫瑰棕色
                                                               {"max": 999, "color":"#FFE4E1"}, # 薄雾玫瑰
                                                              ], 
                     is_piecewise = True))  # 显示分段式图例

In [15]:
table_data2 = world_data[['name','total_confirm','today_storeConfirm','today_confirm','total_heal','total_dead']].values.tolist()
table2_data = []
for data in table_data2:
    if np.isnan(data[1]) == False:
        table2_data.append(data)
table2_data.sort(key=lambda x:x[1],reverse=True)
table2_data = table2_data[:10]

In [16]:
table2 = Table()
headers = ["国家名","累计确诊","现存确诊","今日新增确诊","累计治愈","累计死亡"]
rows = []
for data in table2_data:
    rows.append(data)
table2.add(headers,rows)

In [17]:
page = Page(layout=Page.SimplePageLayout)
page.add(
    map1,
    table3,
    table1,
    map2,
    table2,
)
page.render("世界疫情地图.html")

'C:\\Users\\admin\\Desktop\\jupyter notebook\\世界疫情地图.html'